{% extends "root.html" %}

{% block title %}Index Page - Stack Exam{% endblock %}

{% block content %}
<div class="container" style="margin:0 auto;">

    <div class="card m-5 d-flex flex-column justify-content-center align-items-center" style="width: 25vw;">
        <div class="card-body">
          <h5 class="card-title display-6">{{pie.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted fs-4">By {{pie.user.first_name}}</h6>
          <p class="card-text">{{pie.desc}}.</p>
          <div class="card " style="width: 10vw;">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title text-center">Cast a Vote!</h5>
              {% if user in pie.voters.all %}
              <form action="/remove_vote" method="post">
                {% csrf_token %}
                <button class="btn btn-danger ">Remove Vote</button>
              </form>
              {% else %}
              <form action="/vote/{{pie.id}}" method="post">
                {% csrf_token %}
                <button class="btn btn-success ">Delicious</button>
              </form>
              {% endif %}
            </div>
          </div>
          
        </div>
      </div>

      <p class="fs-4 mt-5"><a href="/dashboard">Back to my pies</a></p>

</div>
{% endblock %}